<%- include('partials/header'); -%>

<header>
  <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
  <div class="headings">
    <h2>ShortUrl</h2>
    <h3>Short Url in One Click.</h3>
    <h3>Secure, Fast and Always Available</h3>
    <a href="/short/shortUrl" class="btn">Short URL</a>
  </div>
</header>


<%- include('partials/footer'); -%>